.box {
  width: 50%; 
  min-width: 420px;
  margin: auto;
  text-align: center;
  padding-top: 1rem;
}

.box h2 {
  font-size: 2em;
  font-weight: 600;
  color: white;
}

.box h2 span {
  text-transform: uppercase;
  font-size: .6em;
  font-weight: 300;
}

.box button {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.5rem;
  border-radius: 7px;
  border-style: none;
  width: 100%;
  margin: 1rem 0;
  cursor: pointer;
}
